asgiref
certifi
charset-normalizer
dj-database-url
django
django-crispy-forms
django-environ
django-js-asset
djangorestframework
idna
pytz
requests
sqlparse
tzdata
urllib3
whitenoise
gunicorn
psycopg2