{% extends 'base.html' %}
{% block title %}About me{% endblock title %}
{% load static %}
{% block content %}


<main id="main">

  <section class="section pb-5">
    <div class="container">
      <div class="row mb-5 align-items-end">
        <div class="col-md-6" data-aos="fade-up">

          <h2>About Me</h2>
          <p class="mb-0">Hello there, I'm Modather, a Full Stack Mobile Developer using Flutter and php
          </p>
        </div>

      </div>

      <div class="row">
        <div class="col-md-4 ml-auto order-2" data-aos="fade-up">
          <h3 class="h3 mb-4">Skills</h3>
          <ul class="list-unstyled">
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>Flutter</strong>
                <span class="ml-auto">85%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="80" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>Dart</strong>
                <span class="ml-auto">96%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 96%" aria-valuenow="96" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>Firebase</strong>
                <span class="ml-auto">80%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="99" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>SQL </strong>
                <span class="ml-auto">75%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="87" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>php</strong>
                <span class="ml-auto">60%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="85" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>Git</strong>
                <span class="ml-auto">88%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 88%" aria-valuenow="88" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </li>
          </ul>
        </div>

        <div class="col-md-7 mb-5 mb-md-0" data-aos="fade-up">
          <p><img src="{% static 'img/photos/Picsart_22-06-12_20-01-34-226.jpg' %}" alt="Image" class="img-fluid"></p>
          <p>My Skills :</p>
          <p> • Expert in developing Android and iPhone applications using Flutter</p>
          <p> • Able to solve programming problems in Dart</p>
          <p> • Proficient in using Firebase as a database</p>
          <p> • Use geolocation services and Google Maps</p>
          <p> • Dealing with Admob Ads</p>
          <p> • RESTful APIs with php </p>
          <p> • Create databases with MySQL</p>
          <p>What drives you to work with me?</p>
          <p> • My priority is to provide customer satisfaction</p>
          <p> • Nice and friendly to deal with</p>
          <p> • Interested in building good and continuous working relationships</p>
          <p></p>

          <!-- <p><a href="" download="" class="readmore">Download my CV</a></p> -->
        </div>

      </div>

    </div>

  </section>

</main><!-- End #main -->
{% endblock %}