{% extends 'base.html' %}
{% block title %}contact me{% endblock title %}
{% block content %}
<main id="main">

  <section class="section pb-5">
    <div class="container">

      <div class="row mb-5 align-items-end">
        <div class="col-md-6" data-aos="fade-up">
          <h2>Contact Me</h2>
          <p class="mb-0">
          </p>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6 mb-5 mb-md-0" data-aos="fade-up">
          {% if request.session.has_message %}
          <div class="col-md-12 my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          {% else %}
          <form method="post" role="form" class="php-email-form">
            {% csrf_token %}
            <div class="row gy-3">
              <div class="col-md-6 form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" id="name" required>
              </div>
              <div class="col-md-6 form-group">
                <label for="name">Email</label>
                <input type="email" class="form-control" name="email" id="email" required>
              </div>
              <div class="col-md-12 form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="col-md-12 form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" cols="30" rows="10" required></textarea>
              </div>


              <div class="col-md-6 mt-0 form-group">
                <input type="submit" class="d-block w-100" value="Send Message">
              </div>
            </div>

          </form>
          {% endif %}

        </div>

        <div class="col-md-4 ml-auto order-2" data-aos="fade-up">
          <ul class="list-unstyled">
            <li class="mb-3">
              <strong class="d-block mb-1">Address</strong>
              <span>Ombada, Omdurman, Khartoum, Sudan</span>
            </li>
            <li class="mb-3">
              <strong class="d-block mb-1">Phone</strong>
              <span>+24999242642</span>
            </li>
            <li class="mb-3">
              <strong class="d-block mb-1">Email</strong>
              <span>Modather0Ali@gmail.com</span>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </section>

</main><!-- End #main -->
{% endblock %}