{% extends 'base.html' %}
{% load static %}

{% block content %}

<main id="main">

  <!-- ======= Works Section ======= -->
  <section class="section site-portfolio">

    <div class="container">
      <div class="row mb-5 align-items-center">
        <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
          <h2>Hey, I'm Modather Ali</h2>
          <p class="mb-0">Freelance Creative &amp; Mobile Applications Developer</p>
        </div>
        <div class="col-md-12 col-lg-6 text-start text-lg-end" data-aos="fade-up" data-aos-delay="100">
          <div id="filters" class="filters">
          </div>
        </div>
      </div>
      <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
        {% for project in projects %}
        <div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
          <a href="{% url 'single_project' project.get_clean_url %}" class="item-wrap fancybox">
            <div class="work-info">
              <h3>{{project.project_title}}</h3>
              <span>{{project.project_title}}</span>
            </div>
            <img class="img-fluid" src="{{project.image_url}}">
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section><!-- End  Works Section -->


</main><!-- End #main -->
{% endblock %}