{% extends 'base.html' %}
{% block title %}My services{% endblock title %}
{% block content %}

<main id="main">

  <section class="section">
    <div class="container">
      <div class="row mb-4 align-items-center">
        <div class="col-md-6" data-aos="fade-up">

          <h2>My Services</h2>
          <p></p>

        </div>

      </div>
    </div>

    <div class="site-section pb-0 services">
      <div class="container">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="100">
          <i class="bi bi-phone"></i>
          <h4 class="h8 mb-2">Mobile Applications</h4>
          <p>Using Flutter I develop great applications with special features such as:</p>
          <ul class="list-unstyled list-line">
            <li>Multi-platform applications</li>
            <li>Hight quality and excellent performance</li>
            <li>The code is easy to read and develop</li>
            <li>Great UI/UX design</li>
            <li>Complete application development in record time</li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
          <i class="bi bi-file-code"></i>
          <h4 class="h8 mb-2">Backend development</h4>
          <p>I offer a database development service that includes:</p>
          <ul class="list-unstyled list-line">
            <li>RESTful API with php</li>
            <li>Create databases with MySQL</li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </section>
</main><!-- End #main -->
{% endblock %}