{% extends 'base.html' %}
{% block content %}

<main id="main">

  <section class="section">
    <div class="container">
      <div class="row mb-4 align-items-center">
        <div class="col-md-6" data-aos="fade-up">

          <h2>My Services</h2>
          <p></p>

        </div>

      </div>
    </div>

    <div class="site-section pb-0 services">
      <div class="container">

        <!-- <div class="row"> -->

        <!-- <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
              <i class="bi bi-card-checklist"></i>
              <h4 class="h4 mb-2">Web Design</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
              <ul class="list-unstyled list-line">
                <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
                <li>Non pariatur nisi</li>
                <li>Magnam soluta quod</li>
                <li>Lorem ipsum dolor</li>
                <li>Cumque quae aliquam</li>
              </ul>
            </div> -->
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="100">
          <i class="bi bi-phone"></i>
          <h4 class="h8 mb-2">Mobile Applications</h4>
          <p>Using Flutter I develop great applications with special features such as:</p>
          <ul class="list-unstyled list-line">
            <li>Multi-platform applications</li>
            <li>Hight quality and excellent performance</li>
            <li>The code is easy to read and develop</li>
            <li>Great UI/UX design</li>
            <li>Complete application development in record time</li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
          <i class="bi bi-file-code"></i>
          <h4 class="h8 mb-2">Backend development</h4>
          <p>I offer a database development service that includes:</p>
          <ul class="list-unstyled list-line">
            <li>RESTful API with php</li>
            <li>Create databases with MySQL</li>
          </ul>
        </div>
        <!--    <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-calendar4-week"></i>
              <h4 class="h4 mb-2">SEO</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
              <ul class="list-unstyled list-line">
                <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
                <li>Non pariatur nisi</li>
                <li>Magnam soluta quod</li>
                <li>Lorem ipsum dolor</li>
                <li>Cumque quae aliquam</li>
              </ul>
            </div> -->
      </div>
    </div>
    </div>
  </section>

  <!-- ======= Testimonials Section ======= -->
  <!-- <section class="section pt-0">
      <div class="container">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial">
                  <img src="assets/img/person_1.jpg" alt="Image" class="img-fluid">
                  <blockquote>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus incidunt ut
                      officiis
                      explicabo inventore.</p>
                  </blockquote>
                  <p>&mdash; Jean Hicks</p>
                </div>
              </div>
            </div> End testimonial item -->

  <!-- <div class="swiper-slide">
      <div class="testimonial-wrap">
        <div class="testimonial">
          <img src="assets/img/person_2.jpg" alt="Image" class="img-fluid">
          <blockquote>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus incidunt ut
              officiis
              explicabo inventore.</p>
          </blockquote>
          <p>&mdash; Chris Stanworth</p>
        </div>
      </div>
    </div>End testimonial item -->

  <!-- </div>
    <div class="swiper-pagination"></div>
    </div>

    </div>
    </section>End Testimonials Section -->

</main><!-- End #main -->
{% endblock %}