  <!-- ======= Footer ======= -->
  <footer class="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p class="mb-1">&copy; Copyright Modather's Portfolio. All Rights Reserved</p>
          <div class="credits">
          </div>
        </div>
        <div class="col-sm-6 social text-md-end">
          <a href="https://github.com/Modather-ali" target="_blank"><span class="bi bi-github"></span></a>
          <a href="https://www.facebook.com/profile.php?id=100028376295382" target="_blank"><span
              class="bi bi-facebook"></span></a>
          <a href="https://wa.me/qr/BR5YRON4OGFLM1" target="_blank"><span class="bi bi-whatsapp"></span></a>
          <a href="https://www.linkedin.com/in/modather-ali-57842b204/" target="_blank"><span
              class="bi bi-linkedin"></span></a>
        </div>
      </div>
    </div>
  </footer>
