{% extends 'dashboard/index.html' %}
{% load static %}
{% block content %}
<main class="content">
	<div class="container-fluid p-0">

		<div class="row">
			<div class="col-xl-6 col-xxl-5 d-flex">
				<div class="w-100">
					<div class="row">
						<div class="col-sm-6">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<h5 class="card-title">Create</h5>
										</div>
										<div class="col-auto">
											<div class="stat text-primary">
												<i class="align-middle" data-feather="plus"></i>
											</div>
										</div>
									</div>
									<h1 class="mt-1 mb-3"><a href="{% url 'add' %}">New Project</a></h1>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			{% for project in projects %}
			<div class="col-12 col-md-6">
				<div class="card">
					<img class="card-img-top" src="{{project.first_image_url}}" alt="Unsplash">
					<div class="card-header">
						<h5 class="card-title mb-0">{{project.title}}</h5>
					</div>
					<div class="card-body">
						<p class="card-text">{{project.description|safe|slice:':15'}}... </p>
						<a href="{% url 'update' project.slug %}" class="card-link">Update</a>
						<a href="{% url 'dl' project.id %}" class="card-link">delete</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</main>
{% endblock %}